<nav>
    <div class="site-title">s
      <a href="/"><h1>Raghav's Personal MSG</h1></a>
      <p>Tell me anythynig</p>
    </div>
    <ul>
      <li><a href="/">Feedback Messages</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/blogs/create">New Blog</a></li>
    </ul>
  </nav>